<footer class="grid__item__footer footer">
  <div>
    <p> Made with <FaIcon class="u-text-red" @icon="heart" /> and <FaIcon class="u-text-grey" @icon="cookie-bite" /> 
    by  <a target="_blank" rel="noopener noreferrer" href="https://github.com/AlexandreDidion">Alex</a> 
    </p>
  </div>
</footer>
