<footer class="grid__item__footer footer">
  <div>
    <p> Made with <FaIcon class="u-text-red" @icon="heart" /> and <FaIcon class="u-text-brown" @icon="cookie-bite" /> by Alex</p>
  </div>
</footer>
