<ul class="flex flex__justify center">
  {{#each @cities as |city|}}
    <li class="u-margin-right-s"><strong>{{city.city_name}}</strong></li>
    {{#unless (eq city this.endPath)}}
      <li class="u-margin-right-s"><FaIcon @icon="angle-double-right" /> </li>
    {{/unless}}
  {{/each}}
</ul>
