.button_round {
  height: 2rem;
  text-align: center;
  width: 5rem;
  border-radius:10px;
  border: 2px solid;
  letter-spacing:1px;
  cursor: pointer;
  transition: all 0.25s ease;
  &.grey {
    &:hover {
      color: $color-light-black;
    }
  }
    &.red {
    padding: $spacing-s;
    &:hover {
      color: $color-dark-pink;
    }
  }
  &:active {
    letter-spacing: 2px ;
  }
}
