.button {
  height: 2rem;
  text-align: center;
  width: 5rem;
  border-radius:10px;
  border: 2px solid;
  letter-spacing:1px;
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color: $color-light-black;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
}