<div class="grid__item grid__item__main u-margin-top-base">
  <h2>Your Path</h2>

  <Path @cities={{this.dijkstra.journey}} />

  <p> You'll have to do <strong>{{this.dijkstra.distance}}</strong> km.</p>
</div>

