// MAIN GRID 

.grid__container {
  display: grid;
  grid-template-columns: $grid-columns-main;
  grid-template-rows: $grid-rows-main;
  grid-template-areas: $grid-areas-main;
  width: 100vw;
  height: 100vh;
}

.grid__item {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.grid__item__header {
  grid-area: $grid-header-main;
}

.grid__item__footer {
  grid-area: $grid-footer-main;
}

.grid__item__main {
  grid-area: $grid-main-main;
  display: flex;
  flex-direction: column;
  align-items: center;
}