// Main colors 

$color-grey: rgba(99,97,88, 1);
$color-yellow: rgba(221,204,0, 1);
$color-white: rgba(237,237,230, 1);
$color-black: rgba(37,38,35, 1);

// Variation 
$color-light-black: rgba(37,38,35, 0.5);
$color-light-grey: rgba(191,181,168, 1);
