// MAIN GRID 
  //size container
$grid-columns-main: ([col1] 0.5fr [col2] 0.5fr [col3] 3fr [col4] 0.5fr [col5] 0.5fr [col6]) !default;
$grid-rows-main: ([row1] 0.5fr [row2] 2fr [row3] 0.5fr [row4]) !default;

  //area container
$grid-areas-main: (
                    "head head head head head" 
                    "border-left border-left main border-right border-right" 
                    "foot foot foot foot foot"
                  ) !default;

  //area items 
$grid-header-main: head !default;
$grid-main-main: main !default;
$grid-footer-main: foot !default;