// SETTINGS

$spacing-map: (
  "base": $spacing-base,
  "xs":   $spacing-xs,
  "s":    $spacing-s,
  "l":    $spacing-l,
  "xl":   $spacing-xl,
  "xxl":  $spacing-xxl,
  "none": 0
) !default;

@each $size-name, $size-value in $spacing-map {

  // MARGINS
  .u-margin-bottom-#{$size-name} {
    margin-bottom: $size-value;
  }

  .u-margin-top-#{$size-name} {
    margin-top: $size-value;
  }

  .u-margin-right-#{$size-name} {
    margin-right: $size-value;
  }

  .u-margin-left-#{$size-name} {
    margin-left: $size-value;
  }
}

@each $size-name, $size-value in $spacing-map {

  // MARGINS
  .u-padding-bottom-#{$size-name} {
    padding-bottom: $size-value;
  }

  .u-padding-top-#{$size-name} {
    padding-top: $size-value;
  }

  .u-padding-right-#{$size-name} {
    padding-right: $size-value;
  }

  .u-padding-left-#{$size-name} {
    padding-left: $size-value;
  }
}
