{{page-title "Countries"}}

<h1> Hello you!</h1>

<ul>
  {{#each @model as |country|}}
    <li>{{ country.name }}</li>
  {{/each}}
</ul>

<DropDown @label='country' @model={{@model}} @button_name='Confirm' />


{{outlet}}