{{page-title "Journey"}}

<div class="grid__item grid__item__main">
  <h1>Your Path</h1>

  <ul class="u-text-align-center">
    {{#each this.dijkstra.journey as |city|}}
      <li>{{city}}</li>
    {{/each}}
  </ul>

  <p> You'll have to do <strong>{{this.dijkstra.distance}}</strong> km.</p>
</div>

