<main class="grid__item grid__item__main">
  <section class="u-margin-bottom-l">
    <h1>Dijkstralex</h1>
    <p>A simple implementation of the Dijkstra Algorithm.</p>
    <p>Find the shortest path to go from one city to another.</p>
  </section>

  <nav><LinkTo @route="countries" role="button" class="button_round red">Start Your Journey</LinkTo></nav>
</main>
